h1 {
  text-transform: uppercase;
  font-family: 'Arial';
  font-weight: 600;
  font-size: 20vw;
  margin: 0;
  text-align: center;

  color: transparent;
  background-image: url('./../images/por-do-sol.jpg');
  background-size: contain;
  background-clip: text;
  --webkit-backgound-clip: text;
}
